SECRET_KEY=dummy
DOCKER_SECRET_KEY=dummy

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

CLOUD_NAME=dummy
CLOUD_API_KEY=dummy
CLOUD_API_SECRET=dummy

DB_NAME=truck_signs_db
DB_USER=truck_signs_user
DB_PASSWORD=truck_signs_password
DB_HOST=db
DB_PORT=5432

DOCKER_DB_NAME=truck_signs_db
DOCKER_DB_USER=dumtruck_signs_user
DOCKER_DB_PASSWORD=truck_signs_password
DOCKER_DB_HOST=db
DOCKER_DB_PORT=5432

STRIPE_PUBLISHABLE_KEY=dummy
STRIPE_SECRET_KEY=dummy
EMAIL_HOST_USER=dummy
EMAIL_HOST_PASSWORD=dummy

DOCKER_STRIPE_PUBLISHABLE_KEY=dummy
DOCKER_STRIPE_SECRET_KEY=dummy
DOCKER_EMAIL_HOST_USER=dummy
DOCKER_EMAIL_HOST_PASSWORD=dummy

SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin.admin@web.de
SUPERUSER_PASSWORD=admin1234